<aside class="w-1/5">
    <!-- <ul>
        <li><a href="{% url 'creat-post' %}" class="text-green-400 px-4 py-2 w-full bg-gray-500 hover:bg-gray-700 transition inline-block">Add New Post</a></li>
    </ul> -->
    <div class="w3-container">
        <div class="w3-row">
            <div class="w3-col">
                <div class="w3-col">
                    <div class="w3-card-2 w3-round w3-white w3-center py-4">
                        <div class="">
                            <form action="" method="post">
                              {% csrf_token %}
                              <label class="relative inline-block">
                                <span class="sr-only">Search</span>
                                <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                                  <svg class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20"></svg>
                                </span>
                                <input class="placeholder:italic placeholder:text-slate-800 block bg-gray-300 w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="Search Content" type="text" name="search"/>
                              </label>
                              <button type="submit" class="p-2  mt-2 border-2 rounded-md text-gray-900">Search</button>
                            </form>
                          </div>
                    </div>
                    <br>


                    <div class="w3-card-2 w3-round w3-white w3-center py-4">
                        <div class="w3-container">
                            <p>Upcoming Events:</p>
                            <img src="img_forest.jpg" alt="Forest" style="width:100%;">
                            <p><strong>Holiday</strong></p>
                            <p>Friday 15:00</p>
                            <p><button class="w3-btn w3-btn-block w3-theme-l4 py-2">Info</button></p>
                        </div>
                    </div>
                    <br>
                    
                    <div class="w3-card-2 w3-round w3-white w3-center">
                        <div class="w3-container">
                            <p class="pt-2">Friend Request</p>
                            <img src="img_avatar6.png" alt="Avatar" style="width:50%"><br>
                            <span>Scorpion Islam</span>
                            <div class="w3-row w3-opacity">
                                <div class="w3-half">
                                <button class="w3-btn w3-green w3-btn-block w3-section" title="Accept"><i class="fa fa-check"></i></button>
                                </div>
                                <div class="w3-half">
                                <button class="w3-btn w3-red w3-btn-block w3-section" title="Decline"><i class="fa fa-remove"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    
                    <!-- <div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center">
                        <p>ADS</p>
                    </div>
                    <br>
                    
                    <div class="w3-card-2 w3-round w3-white w3-padding-32 w3-center">
                        <p><i class="fa fa-bug w3-xxlarge"></i></p>
                    </div> -->
                
                <!-- End Right Column -->
                </div>
                <br>
            </div>
        </div>
    </div>
    <!-- Right Column -->
    
</aside>