{% extends 'base.html' %} 

{% load static %}
{% block content %}

    {% include 'includes/message.html' %}

    <section class="flex gap-10 mt-12">
        {% include 'includes/left-sidebar.html' %}

        <main class="flex-1 w-3/5">
            <div class="bg-white rounded-lg">
                <div class="profile-option-bar bg-white">
                    <div class="top-option-bar">
                    {% if request.user.is_authenticated %}
                        <div class="avatar mt-1">
                            <img src="{{ request.user.profile.profile_image.url }}" alt="profile_pic" />
                        </div>
                    {% else %}
                        <div class="avatar mt-1">
                            <img src="{% static 'images/default_profile.jpg' %}" alt="profile_pic" />
                        </div>
                    {% endif %}
                    
                    <div class="post-field">
                        <input type="text" name="post-feed" placeholder="Write something here..." />
                    </div>
                    <div class="media-upload text-slate-700">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                    </div>
                    </div>
                </div>
                
                <!-- status icons -->
                
                <div class="post-features-bar bg-white">
                    <div class="text text-green-800">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <span class="text text-slate-700">Photo/video</span>
                    </div>
                    <div class="live-video text-red-500">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                    <span class="text text-slate-700">Live Video</span>
                    </div>
                    <div class="room text-yellow-400">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                    <span class="text text-slate-700">Feeling</span>
                    </div>
                </div>
            </div>
            {% for post in posts %}
                <!-- delete modal start-->
                <div class="modal">
                    <div class="max-w-lg mx-auto bg-white p-4 rounded-lg mt-3">
                    <div class="px-3 py-5 text-center">
                        <h3 class="text-xl mb-2">Are you sure to delete?</h3>
                        <p class="text-sm text-gray-700">{{ post.title }}</p>
                    </div>

                    <div class="flex justify-between items-center">
                        <button type="button" class="cancel-btn px-4 py-2 bg-gray-300 inline-flex rounded-lg text-gray-800">Cancel</button>
                        <button type="button" class="confirm-btn px-4 py-2 bg-blue-500 inline-flex rounded-lg text-white" data-id="{{ post.id }}">Confirm</button>
                    </div>
                    </div>
                </div>
                <!-- delete modal end-->

                <div class="bg-white rounded-lg mb-3 w-full">
                    <div class="w-2/10 inline-block pt-2 mt-2 ml-2 m-1 pb-2">
                        <img src="{{ post.post_author.profile.profile_image.url }}" alt="profile picture" class="w-11 h-11 rounded-full">
                    </div>

                    <div class="w-8/10 inline-block pl-1 pb-2 -mt-12">
                        <a href=" {% url 'user-posts' post.post_author %} ">
                            <h4 class="text-base font-semibold">{{ post.post_author }}</h4>
                        </a>
                        <time class="text-gray-600 text-sm block">{{ post.posted_at|timesince }} ago</time>
                    </div>
                    {% if post.post_image %}
                        <img src="{{ post.post_image.url }}" alt={{ post.title }} class="w-full h-72 object-cover">
                    {% endif %}

                    <div class="p-4">
                        <h3 class="text-base font-semibold mb-2">{{ post.title }}</h3>
                        <p class="text-sm text-gray-600">{{ post.description }}</p>
                    </div>

                    <div class="flex justify-between items-center p-4 border-t border-gray-200">
                        <a href="{% url 'post-detail' post.id %}" class="bg-green-300 hover:bg-green-200 px-4 py-2 rounded-lg transition">View</a>
                        {% if request.user == post.post_author %}
                            <a href="{% url 'edit-post' post.id %}"  class="bg-violet-600 hover:bg-violet-400 text-white px-4 py-2 rounded-lg transition">Edit</a>
                            <!-- <a href="{% url 'delete-post' post.id %}" class="delete-btn">Delete</a> -->
                            <a href="{% url 'delete-post' post.id %}" class="bg-red-400 hover:bg-red-300 text-white px-4 py-2 rounded-lg transition">Delete</a>
                        {% endif %}
                        
                    </div>
                </div>
            {% endfor %}

        <!-- pagination start-->
            <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                <div>
                    <p class="text-sm text-gray-700">
                        Showing page
                        <span class="font-medium">{{ posts.number }}</span>
                        of
                        <span class="font-medium">{{ posts.paginator.num_pages }}</span>
                        Pages
                    </p>
                </div>
                
                <div>
                    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                        {% if posts.has_previous %}
                            <a href="?page=1" aria-current="page" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"> First </a>

                            <a href="?page={{ posts.previous_page_number }}" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                <span class="sr-only">Previous</span>
                                <!-- Heroicon name: solid/chevron-left -->
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        {% endif %}
                        
                        <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
                        
                        <a href="#" class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium"> {{ posts.number }} </a>


                        {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                            <span class="sr-only">Next</span>
                            <!-- Heroicon name: solid/chevron-right -->
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                        <a href="?page={{ posts.paginator.num_pages }}" aria-current="page" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"> Last </a>
                        {% endif %}
                        
                    </nav>
                </div>
            </div>
        <!-- pagination end-->
           
        </main>

        {% include 'includes/right-sidebar.html' %}
    </section>
{% endblock %}
