{% extends 'base.html' %} 

{% block content %}

    <section class="flex gap-10">
       {% include 'includes/left-sidebar.html' %}

       <main class="flex-1">
        <a href="{% url 'home' %}" class="block text-blue-400 text-sm font-semibold mb-4 hover:underline">Back to Posts</a>

          {% if post.post_image %}
             <img src="{{ post.post_image.url }}" alt={{ post.title }} class="w-full h-96 object-cover rounded-lg">
          {% endif %}

        <div class="bg-white rounded-lg mt-6 p-4">
            <small class="block text-sm text-gray-600 mb-2">{{ post.posted_at|timesince }} ago</small>
            <h3 class="text-base font-semibold mb-2">{{ post.title }}</h3>
             <p class="text-sm text-gray-600">{{ post.description }}</p>
         </div>
    </main>

         {% include 'includes/right-sidebar.html' %}
    </section>
{% endblock %}