{% extends 'base.html' %} 

{% block content %}
    {% include 'includes/message.html' %}
    
 <div class="max-w-md mx-auto bg-white shadow-sm p-4 rounded-lg">
    <h2 class="text-2xl font-semibold mb-5 text-center">Personal Information</h2>
    <div>
        <h4 class="text-xl mb-2">Name: {{ user.username }}</h4>
        <h4 class="text-xl mb-2">Email: {{ user.email }}</h4>
        <img src="{{ user.profile.profile_image.url }}" alt="profile picture" class="w-27 h-25 rounded" style="width: 15%; height:15%; border-radious: 40%">


        <a href="{% url 'update_profile' %}" class="px-4 py-2 hover:bg-gray-300 inline-flex rounded-lg text-gray-800 text-sm">Edit Profile</a>
    </div>
     
</div>
{% endblock %}
