{% extends 'base.html' %} 

{% block content %}
    {% include 'includes/message.html' %}

<div class="max-w-md mx-auto bg-white shadow-sm p-4 rounded-lg mt-12">
    <h2 class="text-2xl font-semibold mb-5 text-center">Update Profile Information</h2>

    <form action="" method="POST" enctype="multipart/form-data" class="bg-white shadow-sm p-4 rounded-lg">
                {% csrf_token %}

                {% for field in user_form %}
                    <div class="mb-3">
                        <label for="" class="block">{{ field.label_tag }} </label>
                        {{ field }}
                    </div>
                {% endfor %}

                {% for field in profile_form %}
                    <div class="mb-3">
                        <label for="" class="block">{{ field.label_tag }} </label>
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="flex justify-between items-center">
                    <button type="submit" class="px-4 py-2 bg-blue-500 inline-flex rounded-lg text-white">Update</button>
                </div>
            
        </form>
        </div>

        
{% endblock %}
