{% extends 'base.html' %} 

{% block content %}
    {% include 'includes/message.html' %}
    {% include 'includes/left-sidebar.html' %}

    <div class="w-3/5 mx-auto bg-white shadow-sm p-4 rounded-lg">
        <h4 class="text-xl font-semibold mb-5 text-center">Personal Information</h4>
        <div class="">

            <div class="mx-auto flex justify-center w-2/6 p-2">
                <img src="{{ user.profile.profile_image.url }}" alt="profile picture" class="flex  rounded-full border-4 border-indigo-500/100">
            </div>

            <h4 class="text-base mb-2">Name: {{ user.username }}</h4>
            <h4 class="text-base mb-2">Email: {{ user.email }}</h4>
            
            <a href="{% url 'update_profile' %}" class="mx-auto px-4 py-2 bg-blue-400 hover:bg-gray-300 inline-flex rounded-lg text-white text-sm">Edit Profile</a>
        </div>
    </div>

{% endblock %}
